html {
	height: 100%;
	width: 100%;
	color: white;
	background-color: black;
}

.mySlides {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.myWebcams {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.quadrant {
	width: 50%;
	height: 50%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#fullscreen {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
